<div class="col-sm-auto bg-light sticky-top">
    <div class="sidebar d-flex flex-sm-column flex-row flex-nowrap bg-dark align-items-center sticky-top">
        <h1 class="d-block p-3 mb-4 theme-clr">
            <i class="bi-person-circle h2"></i> Admin
            

        </h1>
        <ul
            class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-right align-items-start">

            <li class="nav-item">
                <p routerLink="dashboard/home"><i class="bi bi-house"></i> Home</p>
            </li>
            <li>
                <p routerLink="dashboard/vendor"><i class="bi bi-person-arms-up"></i> Vendor</p>
            </li>
            <li>
                <p><i class="bi bi-bag-fill"></i>Purchase</p>
            </li>
            <li>
                <p><i class="bi bi-person-add"></i> Customer</p>
            </li>
            <li>
                <p><i class="bi bi-bag-heart"></i> Sale Product</p>
            </li>
            <li>
                <p><i class="bi bi-tags"></i> Category</p>
            </li>
            <li>
                <p><i class="bi bi-bookmark-check"></i> In Stock</p>
            </li>
            <li>
                <p><i class="bi bi-bookmark-plus"></i> Out Of Stock</p>
            </li>
            <!-- <li><p><i class="bi-people fs-1"></i> Dashboard</p></li> -->
        </ul>
        <div>
            <h3 class="d-flex align-items-center justify-content-start p-3 theme-clr">
                <i class="bi bi-box-arrow-right"></i> Logout
            </h3>
        </div>
    </div>
</div>