form {
    background-color: #eeecec38;
    width: 30%;
    margin: 50px auto;
    padding: 50px;
    /* box-shadow: 0px 0px 30px #7acacdcb; */
    box-shadow: 0px 0px 20px  #bdbcbcd8;
    border-radius: 10px;

}
/* form input {
    border: none;
    border-bottom: 3px solid gainsboro;
    border-radius: 0%;
} */
form h3 {
    color:#fd7e14;
    font-size: 30px;
    font-weight:900;
    font-family: cursive;
    text-decoration: none;
 
}
button {
    border-radius: 26px;
    font-size: 18px;
    padding: 6px 25px;
    font-weight: 500;


}
.for-pass {
    text-decoration: none;
    justify-content: end;
    display: flex;
    font-size: 15px;
    font-weight: 500;
}
.for-pass:hover {
    text-decoration: underline;
    /* color: #0252ca; */
}