
<div class="container">
    <form>
    <div class="text-center mb-4">
    <h3>Register-Now</h3>
        <p class="text-secondary">Please Enter Your Details</p>
    </div>
<div class="mb-3">
    <input
        type="text"
        name="firstName"
        #firstName
        ngModel
        class="form-control"
        placeholder="Enter First Name"
        aria-describedby="helpId"
    />
</div>
<div class=" col-12 mb-3">
    <input
        type="text"
        name="LastName"
        #LastName
        ngModel
        class="form-control"
        placeholder="Enter Last Name"
        aria-describedby="helpId"
    />
</div>
<div class=" col-12 mb-3">
    <input
        type="email"
        name="Email"
        #email
        ngModel
        class="form-control"
        placeholder="Enter Your Email"
        aria-describedby="helpId"
    />
</div>
<div class=" col-12 mb-3">
    <input
        type="password"
        name="password"
        #password
        ngModel
        class="form-control"
        placeholder="Enter password"
        aria-describedby="helpId"
    />
</div>
<div class=" col-12 mb-3 text-center mt-4">
<button  type="submit" class="btn btn-primary ">Register</button>
</div>
<hr>
<a class="for-pass" href="#">Forget Password</a>

</form>
</div>>
